body{
    font-size: .8em;
}
.tableHeader {
    display: flex;
    flex-flow: row nowrap;
    background-color: rgba(182, 182, 182, 0.658);
}
.aircraft {
    justify-content: center;
}
h1 {
    text-align: center;
}
.tableCol {
    display: flex;
    flex-flow: row nowrap;
    height: 65px;
}

.tableCol:nth-child(even) {
    background-color: lightgrey;
}