#modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: "Roboto Mono", monospace; }

#modal-content {
  margin: 15% auto;
  padding: 20px;
  width: 50%;
  background-image: linear-gradient(to left, #D1D1D1 20%, #85c7f2, #DBDBDB);
  border: 1px solid #636363; }

#closeModal {
  float: right; }

#logo {
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
  /* position: relative; */
  /* margin: 0 38%; */ }

.totalList {
  list-style: none;
  margin: 5px;
  text-align: center; }

form.signup,
form.login {
  margin-top: 50px; }

.table-header {
  padding: 20px 15px;
  background-color: #D1D1D1; }

#sticky {
  position: sticky;
  top: 0;
  background-color: #85c7f2;
  color: #4C4C4C;
  opacity: 0.8;
  border-radius: 10px;
  height: 28px; }

.table-row {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr 2fr .5fr;
  grid-template-rows: auto max-content;
  grid-column-gap: 2px;
  border-top: .5px solid black;
  font-family: "Roboto Mono", monospace;
  font-size: .8em;
  padding: 8px 3%; }

.table-col {
  margin-right: 6.1px; }

.table-row:nth-child(even) {
  background-color: lightgray; }

button {
  background-color: #4C4C4C;
  color: #85c7f2;
  text-shadow: 0.2px 1px #636363;
  height: 35px;
  padding: auto;
  width: auto;
  border-right: 3px solid #DBDBDB;
  border-bottom: 3px solid #D1D1D1;
  border-top: 3px solid #636363;
  border-left: 3px solid #383838;
  font-family: "Roboto Mono", monospace; }

.btn {
  margin-bottom: 10px; }

.btn-wrapper {
  text-align: center; }

#dyn-form {
  background-image: linear-gradient(to left, #D1D1D1 20%, #85c7f2, #DBDBDB);
  font-family: "Roboto Mono", monospace;
  font-size: .8em;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr); }
  #dyn-form .flex {
    display: inline-flex;
    justify-content: center; }
  #dyn-form input {
    padding: 5px;
    height: 10px;
    width: 35px;
    margin-bottom: 5px;
    margin-right: 6px; }
  #dyn-form label {
    text-align: left;
    margin-right: 5px;
    height: 89%; }
  #dyn-form .title {
    grid-column: 1 /-1;
    font-weight: bold; }
  #dyn-form #date {
    width: 100px; }
  #dyn-form #comments {
    grid-row: 4;
    grid-column: 7; }
  #dyn-form .form-div-aircraftID {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    margin-right: 6px;
    width: 300px; }
  #dyn-form .form-div-tailWheel {
    grid-row: 3;
    grid-column: 3; }
  #dyn-form .form-div-complex {
    grid-row: 3;
    grid-column: 4; }
  #dyn-form .form-div-highPerf {
    grid-row: 3;
    grid-column: 5; }
  #dyn-form .form-div-turboProp {
    grid-row: 3;
    grid-column: 6; }
  #dyn-form .form-div-turboFan {
    grid-row: 3;
    grid-column: 7; }
  #dyn-form .form-div-rotorcraft {
    grid-row: 3;
    grid-column: 8; }
  #dyn-form .form-div-poweredLift {
    grid-row: 3;
    grid-column: 9; }
  #dyn-form .form-div-aircraftType {
    grid-row: 2;
    grid-column: 3; }
  #dyn-form .form-div-class {
    grid-row: 2;
    grid-column: 5; }
  #dyn-form .form-div-numEngine {
    grid-row: 2;
    grid-column: 7; }
  #dyn-form #createFlightButton {
    grid-column: 5 / 7; }
  #dyn-form #create-aircraft-button {
    grid-row: 7;
    grid-column: 5 / 7; }
  #dyn-form .row {
    grid-column: 1 / -1;
    grid-row: 1/ -1;
    display: flex;
    flex-direction: row wrap;
    justify-content: center; }
