.totalList {
  list-style: none;
  margin: 10px; }

form.signup,
form.login {
  margin-top: 50px; }

.table-header {
  background-color: #D1D1D1; }

#sticky {
  position: sticky;
  top: 0;
  background-color: #85C7F2;
  color: #4C4C4C;
  opacity: 0.8;
  border-radius: 10px;
  height: 28px; }

.table-row {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr 2fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr 2fr 3fr .5fr;
  grid-template-rows: auto max-content;
  border-top: .5px solid black;
  font-family: "Roboto Mono", monospace;
  font-size: .8em;
  padding: 8px 3%; }

.table-col {
  margin-right: 6.1px; }

.table-row:nth-child(even) {
  background-color: lightgray; }

button {
  background-color: #4C4C4C;
  color: #85C7F2;
  text-shadow: 0.2px 1px #636363;
  height: 35px;
  padding: auto;
  width: auto;
  border-right: 3px solid #DBDBDB;
  border-bottom: 3px solid #D1D1D1;
  border-top: 3px solid #636363;
  border-left: 3px solid #383838;
  font-family: "Roboto Mono", monospace; }

.btn {
  margin-bottom: 10px; }

.btn-wrapper {
  text-align: center; }

.table-row .editButton {
  width: 48px; }

.form-control {
  height: 16px;
  width: 26px;
  margin: 3px; }

@media screen and (max-width: 576px) {
  .table-row {
    display: grid;
    grid-template-columns: repeat(26, auto);
    border-top: .2px solid black; } }
