.totalList {
  list-style: none;
  margin: 10px; }

form.signup,
form.login {
  margin-top: 50px; }

#flextest {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.table-header {
  background-color: #D1D1D1; }
  .table-header .table-col {
    padding-right: 6px;
    margin-right: 5px; }

#sticky {
  position: sticky;
  top: 0;
  background-color: #85C7F2;
  color: #4C4C4C;
  opacity: 0.8;
  border-radius: 10px;
  height: 28px; }

.table-row {
  display: grid;
  grid-template-columns: repeat(26, 1fr);
  border-top: .5px solid black;
  font-family: "Roboto Mono", monospace;
  font-size: .8em;
  padding: 8px 3%; }

.table-col {
  margin-right: 6.1px; }

.table-row:nth-child(even) {
  background-color: lightgray; }

button {
  background-color: #4C4C4C;
  color: #85C7F2;
  text-shadow: 0.2px 1px #636363;
  height: 35px;
  padding: auto;
  width: auto;
  border-right: 3px solid #DBDBDB;
  border-bottom: 3px solid #D1D1D1;
  border-top: 3px solid #636363;
  border-left: 3px solid #383838;
  font-family: "Roboto Mono", monospace; }

.btn {
  margin-bottom: 10px; }

.btn-wrapper {
  text-align: center; }

.form-control {
  height: 16px;
  width: 26px;
  margin: 3px; }
