/* thead {
    font-size: .8em;
}

tbody {
    font-size: .6em;
} */
body{
    font-size: .8em;
}
.tableHeader {
    display: flex;
    flex-flow: row nowrap;
    background-color: rgba(182, 182, 182, 0.658);
}
.col0, .dateCol {
    margin-left: 0;
    margin-right: 20px;
    max-width:30px
}
.col1, .aircraftCol {
    margin-left: 0;
    margin-right: 10px;
}
.aircraftCol {
    word-wrap: break-word;
    width: 50px;
}
.col2, .routeCol {
    margin-left: 0;
    margin-right: 30px;
}
.routeCol {
    width: 20px;
}
.col3, .commentsCol {
    margin-left: 10px;
}
.commentsCol {
    overflow-y: scroll;
    width: 100px;
}
.col4, .totalCol {
    margin-left: auto;
    margin-right: 10px;
}
.tableCol {
    display: flex;
    flex-flow: row nowrap;
    height: 65px;
}

.tableCol:nth-child(even) {
    background-color: lightgrey;
}