// screen size or larger
$breakpoint-xs-phone: 576px;
$breakpoint-sm-phone: 768px;
$breakpoint-tablet: 992px;
$breakpoint-desktop: 1200px;
$darkGrey: #4C4C4C;

// media queries
@media screen and (max-width: $breakpoint-sm-phone) {

    .table-row {
        overflow: hidden;
      display: grid;
      grid-template-columns: repeat(2, auto);
      border-top: .2px solid black;
    //   font-family: $fontOne;
      // font-size: .8em;
      // padding: 16px 0px;
    }

    #sticky {
        position: sticky;
        top: 0;
        height: auto;
        color: $darkGrey;
    }

    .table-col:nth-child() {
        background-color: lightgray;
      }

      .btn-wrapper {
        display: flex;
        flex-flow: row wrap;
      }

      .btn-primary {
        width: 25%;
        height: auto;
      }

      #dyn-form {
        display: flex;
        flex-flow: column wrap;

        .row {
          flex-flow: row wrap;
        }
      }

      #logo {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-shrink: 5;
      }

      .main {
        display: flex;
        justify-content: center;
      }

      .signContainer {
        display: flex;
        justify-content: center;
        padding-bottom: 0;
        margin: 0;
        top: 5px;
      }

      .signText {
        display: none;
      }


  }

  // @media screen and (max-width: $breakpoint-tablet) {

  //   .signText {
  //     display: block;
  //   }
  // }
