// screen size or smaller
$breakpoint-xs-phone: 575px;
$breakpoint-sm-phone: 767px;
$breakpoint-tablet: 991px;
$breakpoint-desktop: 1199px;


// media queries
// @media (max-width: $breakpoint-xs-phone) {

//     #flextest{
//         color:green;
//     }

//     .table-row {
//       display: grid;
//       grid-template-columns: auto auto auto auto;
//       border-top: .5px solid black;
//       font-family: $fontOne;
//       font-size: .8em;
//       padding: 16px 0px;
//     }

//   }