$primary: #ffff;
$fontOne: 'Roboto Mono', monospace;


.totalList {
  list-style: none;
  margin: 10px;
}

form.signup,
form.login {
  margin-top: 50px;
}

#flextest {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: grid;
    grid-template-columns: repeat(26, 1.2fr);
    grid-gap: 20px;
    border-top: .5px solid black;
    font-family: $fontOne;
    font-size: .8em;
}


.row:nth-child(even) {

    background-color: lightgray;
}

// .col {

// }