$gainsboro: #DBDBDB;
$lightGrey: #D1D1D1;
$lightSkyBlue: #85C7F2;
$dimGrey: #636363;
$darkGrey: #4C4C4C;
$fontOne: 'Roboto Mono',
monospace;
// screen size or larger
$breakpoint-xs-phone: 576px;
$breakpoint-sm-phone: 768px;
$breakpoint-tablet: 992px;
$breakpoint-desktop: 1200px;
.totalList {
  list-style: none;
  margin: 10px;
}

form.signup,
form.login {
  margin-top: 50px;
}

#flextest {
  // overflow-x:scroll;
  // margin-left: auto;
  // margin-right: auto;
  // padding-left: 15px;
  // padding-right: 15px;
  // display: grid;
  // grid-template-columns: 3fr 2fr 2fr 2fr 2fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr 2fr 3fr .5fr;
  // grid-template-rows: repeat(24, 1fr);
}


.table-header {
  background-color: $lightGrey;
  // .table-col {
    // grid-column-gap: none;
    // padding-right: 6px;
    // margin-right: 5px;
  // }
}

#sticky {
  position: sticky;
  top:0;
  background-color: $lightSkyBlue;
  color: $darkGrey;
  opacity: 0.8;
  border-radius: 10px;
  height: 28px;
}



.table-row {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr 2fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr 2fr 3fr .5fr;
  grid-template-rows: auto max-content;
  // grid-column-gap: 5px;
  border-top: .5px solid black;
  font-family: $fontOne;
  font-size: .8em;
  padding: 8px 3%;
  // padding-right: 8%;

}

.table-col {
  margin-right: 6.1px;
  // padding-top: 1px;
}

.table-row:nth-child(even) {
  background-color: lightgray;
}

button {
  background-color: $darkGrey;
  color: $lightSkyBlue;
  text-shadow: .2px 1px $dimGrey ;
  height: 35px;
  padding: auto;
  width: auto;
  border-right: 3px solid $gainsboro;
  border-bottom: 3px solid $lightGrey;
  border-top: 3px solid $dimGrey;
  border-left: 3px solid #383838;
  font-family: $fontOne;
}

.btn {
  margin-bottom: 10px;
}

.btn-wrapper {
  text-align: center;
}

.table-row {
  .editButton {
    //   display: flex;
    // justify-content: flex-end;
    width: 48px;

  }
}

.delete-flight {
  // display: flex;
  // justify-content: flex-end;
}

.form-control {
  height: 16px;
  width: 26px;
  margin: 3px
}

@media screen and (max-width: $breakpoint-xs-phone) {

  .table-row {
    display: grid;
    grid-template-columns: repeat(26, auto);
    border-top: .2px solid black;
  //   font-family: $fontOne;
    // font-size: .8em;
    // padding: 16px 0px;
  }

}