$gainsboro: #DBDBDB;
$lightGrey: #D1D1D1;
$lightSkyBlue: #85c7f2;
$dimGrey: #636363;
$darkGrey: #4C4C4C;
$fontOne: 'Roboto Mono',
monospace;

@import "./modal.scss";

#logo{
  display: flex;
  justify-content: center;
  margin-bottom: 14px;

  /* position: relative; */
  /* margin: 0 38%; */
}

.totalList {
  list-style: none;
  margin: 5px;
  text-align: center;
}

form.signup,
form.login {
  margin-top: 50px;
}

// header columns
.table-header {
  padding: 20px 15px;
  background-color: $lightGrey;
  // font-family: $fontOne;
  // font-size: .79em;
}

// sticky header for scrolling column titles
#sticky {
  position: sticky;
  top: 0;
  background-color: $lightSkyBlue;
  color: $darkGrey;
  opacity: 0.8;
  border-radius: 10px;
  height: 28px;
}

.table-row {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr 2fr .5fr;
  grid-template-rows: auto max-content;
  grid-column-gap: 2px;
  border-top: .5px solid black;
  font-family: $fontOne;
  font-size: .8em;
  padding: 8px 3%;
  // padding-right: 8%;
}

.table-col {
  margin-right: 6.1px;
  // padding-top: 1px;
}

.table-row:nth-child(even) {
  background-color: lightgray;
}

button {
  background-color: $darkGrey;
  color: $lightSkyBlue;
  text-shadow: .2px 1px $dimGrey;
  height: 35px;
  padding: auto;
  width: auto;
  border-right: 3px solid $gainsboro;
  border-bottom: 3px solid $lightGrey;
  border-top: 3px solid $dimGrey;
  border-left: 3px solid #383838;
  font-family: $fontOne;
}

.btn {
  margin-bottom: 10px;
}

.btn-wrapper {
  text-align: center;
}

#dyn-form {
  background-image: linear-gradient(to left, $lightGrey 20%, $lightSkyBlue, $gainsboro);
  // display: flex;
  // flex-flow: column wrap;
  // width: 100vw;
  font-family: $fontOne;
  font-size: .8em;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(10, 1fr);
  // grid-template-areas:
  //  "gf gf gf gf gf gf"
  //  "da da tn tn at at"
  //  "da ea aa co in su"
  //  "al al al al al al"
  //  "ap ho tl dl nl ."
  //  "ft ft ft ft ft ft"
  //  "to cx ni si im di"
  //  "cf si pi so .  . "
  //  ".  .  btn .  .  ."

  .ss-open {
    overflow: auto;
    flex-flow: column wrap;
  }

  div {
    display: flex;
    justify-content: center;
  }

  input {
    padding: 5px;
    height: 10px;
    width: 35px;
    margin-bottom: 5px;
    margin-right: 6px;
  }

  label {
    margin-right: 5px;
    height: 89%;
  }

  .title {
    // grid-area: gf;
    grid-column: 1 /-1;
    font-weight: bold;
  }

  #date {
    width: 100px;
  }

  #comments{
    grid-row: 4;
    grid-column: 7;
    
  }
  .form-div-aircraftID {
    grid-column: 2 / 3;
    grid-row: 2;
    margin-right: 6px;
    width: 300px;
  }

  .form-div-tailWheel {
    grid-row: 3;
    grid-column: 3;
  }

  .form-div-complex {
    grid-row: 3;
    grid-column: 4;
  }

  .form-div-highPerf {
    grid-row: 3;
    grid-column: 5;
  }

  .form-div-turboProp {
    grid-row: 3;
    grid-column: 6;
  }

  .form-div-turboFan {
    grid-row: 3;
    grid-column: 7;
  }

  .form-div-rotorcraft {
    grid-row: 3;
    grid-column: 8;
  }

  .form-div-poweredLift {
    grid-row: 3;
    grid-column: 9;
  }

  .form-div-aircraftType {
    grid-row: 2;
    grid-column: 3;
  }

  .form-div-class {
    grid-row: 2;
    grid-column: 5;
  }

  .form-div-numEngine {
    grid-row: 2;
    grid-column: 7;
  }

  #createFlightButton {
    grid-column: 5 / 7;
  }

  #create-aircraft-button {
    grid-row: 7;
    grid-column: 5 / 7;
  }

  .row {
    grid-column: 1 / -1;
    grid-row: 1/ -1;
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
  }
}
