$gainsboro: #DBDBDB;
$lightGrey: #D1D1D1;
$lightSkyBlue: #85C7F2;
$dimGrey: #636363;
$darkGrey: #4C4C4C;
$fontOne: 'Roboto Mono',
monospace;
.totalList {
  list-style: none;
  margin: 10px;
}

form.signup,
form.login {
  margin-top: 50px;
}

#flextest {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}


.table-header {
  background-color: $lightGrey;
  .table-col {

    padding-right: 6px;
    margin-right: 5px;
  }
}

#sticky {
  position: sticky;
  top:0;
  background-color: $lightSkyBlue;
  color: $darkGrey;
  opacity: 0.8;
  border-radius: 10px;
  height: 28px;
}


.table-row {
  display: grid;
  grid-template-columns: repeat(26, 1fr);
  border-top: .5px solid black;
  font-family: $fontOne;
  font-size: .8em;
  padding: 8px 3%;
  // padding-right: 8%;
}

.table-col {
  margin-right: 6.1px;
  // padding-top: 1px;
}

.table-row:nth-child(even) {
  background-color: lightgray;
}

button {
  background-color: $darkGrey;
  color: $lightSkyBlue;
  text-shadow: .2px 1px $dimGrey ;
  height: 35px;
  padding: auto;
  width: auto;
  border-right: 3px solid $gainsboro;
  border-bottom: 3px solid $lightGrey;
  border-top: 3px solid $dimGrey;
  border-left: 3px solid #383838;
  font-family: $fontOne;
}

.btn {
  margin-bottom: 10px;
}

.btn-wrapper {
  text-align: center;
}

#dyn-form {

}

.form-control {
  height: 16px;
  width: 26px;
  margin: 3px
}