.totalsList > ul {
    background-color: lightblue;
    list-style: none;
    margin: 10px 0 0;
}
.totalsList > ul > li:last-child {
    margin-bottom: 0;
    padding-bottom: 8px;
}

h2 {
    margin-top: 0;
    padding-top: 8px;
}
