body{
    font-size: .8em;
}

.searchDates {
    height:30px;
    width: 130px;
    font-size: 1.3em;
    margin: 10px;
}
button {
    margin: 15px;
}
.searchDiv{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}